<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="serilog:minimum-level" value="Warning" xdt:Transform="Insert"/>
    <add key="serilog:write-to:File.path" value="%APPDATA%\BrickScan\Logs\log.txt" xdt:Transform="Insert"/>
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10485760 " xdt:Transform="Insert"/> <!--10MB-->
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" xdt:Transform="Insert"/>
    <add key="serilog:write-to:File.rollingInterval" value="Day" xdt:Transform="Insert"/>
    <add key="serilog:write-to:File.retainedFileCountLimt" value="5" xdt:Transform="Insert"/> <!--Max: 5 files à 10MB = 50MB-->
    <add key="BrickScanApiBaseUrl" value="https://localhost:5001/api/v1/" xdt:Transform="Insert"/>
    <add key="SquirrelReleasesUrl" value="https://stbrickscan001.blob.core.windows.net/wpf-releases"/>
  </appSettings>
</configuration>