<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="languageOptions" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BrickScan.WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <languageOptions>
    <add key="en-US" value="English" />
    <add key="de-DE" value="Deutsch" />
  </languageOptions>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
    <add key="serilog:enrich:WithThreadId" />
    <add key="serilog:enrich:FromLogContext" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:HH:mm:ss.fff} {Level:u3}][{SourceContext:l}] thread&lt;{ThreadId}&gt; {Message:lj}{NewLine}{Exception}" />
    <add key="ClientId" value="3c98491d-f2e5-415c-975c-aa4824db2ab6" />
    <add key="Tenant" value="brickscan.onmicrosoft.com" />
    <add key="AzureAdB2CHostname" value="brickscan.b2clogin.com" />
    <add key="RedirectUri" value="https://brickscan.b2clogin.com/oauth2/nativeclient" />
    <add key="PolicySignUpSignIn" value="b2c_1_sign-up-sign-in" />
    <add key="PolicyEditProfile" value="b2c_1_edit-profile" />
    <add key="PolicyResetPassword" value="b2c_1_password-reset" />
    <add key="MaxNonDisplayImageWidthOrHeight" value="256"/>
    <add key="MaxDisplayImageWidthOrHeight" value="512"/>
    <add key="SquirrelReleasesUrl" value="https://stbrickscan001.blob.core.windows.net/wpf-releases"/>
  </appSettings>
  <userSettings>
    <BrickScan.WpfClient.Properties.Settings>
      <setting name="SelectedSensitivityLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SelectedCameraIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemeColorScheme" serializeAs="String">
        <value>Steel</value>
      </setting>
      <setting name="ThemeBaseColor" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="SelectedCultureKey" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="IsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedInventoryServiceType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedBricklinkConditionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlPriceFixingC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlPriceFixingF" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SelectedPriceFixingBaseMethodIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </BrickScan.WpfClient.Properties.Settings>
  </userSettings>
</configuration>