<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="languageOptions" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BrickScan.WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <languageOptions>
    <add key="en-US" value="English" />
    <add key="de-DE" value="Deutsch" />
  </languageOptions>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
    <add key="serilog:enrich:WithThreadId" />
    <add key="serilog:enrich:FromLogContext" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:HH:mm:ss.fff} {Level:u3}][{SourceContext:l}] thread&lt;{ThreadId}&gt; {Message:lj}{NewLine}{Exception}" />
  </appSettings>
  <userSettings>
    <BrickScan.WpfClient.Properties.Settings>
      <setting name="SelectedSensitivityLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SelectedCameraIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemeColorScheme" serializeAs="String">
        <value>Steel</value>
      </setting>
      <setting name="ThemeBaseColor" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="SelectedCultureKey" serializeAs="String">
        <value>en-US</value>
      </setting>
    </BrickScan.WpfClient.Properties.Settings>
  </userSettings>
</configuration>